.App {
  background-color: #111;
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .App {
    width: 100%;
    height: auto;
  }
}

.event_page_wrapper {
  height: calc(100vh - 100px);
  color: #fff;
}
